<head>
<style>
#cor_text{
    color:cadetblue
}
.top{
    background-color: bisque;
}
.meio{
background-color: grey;
}
.down{
    background-color: midnightblue;
}
.destaq{
    color:olive
}
</style>
<head>